
  

   <div class="panel panel-white no-radius">
    <div class="panel-body">
        <ul class="timeline-xs margin-top-20 margin-bottom-20">
            <li class="timeline-item success ">
                <div class="margin-left-15">
                                <p class="requestfont">  Request Submitted </p>
                </div>
            </li>
            <li class="timeline-item">
                <div class="margin-left-15">
                   
                    <p class="requestfont"> Setup In-Progress </p>
                </div>
            </li>
            <li class="timeline-item danger ">
                <div class="margin-left-15">
                   
                    <p class="requestfont"> Configured, ready to get started </p>
                </div>
            </li>
                      
        </ul>
    </div>
  
</div>

