.lets{
    
    font-family:  'Source Sans Pro', sans-serif;
    font-size:30px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}
.cursor-services{
    cursor: pointer;
}
.footer-border{
    background-color:#e6ebf2;
    border-top: 1px solid #cbced4;
}
.letsback{
    background-color: #18243e;
}
.postlogin-back{
    background-color:rgba(0, 59, 124, 0.03); 
    border-radius: 5px;
}
.bt-lg-login{
    height: 32px;
    padding: 8px 34px;
    font-size: 14px;
   font-family:'Source Sans Pro', sans-serif !important;
font-weight: 600;
    background-color: white;
    color: #18243e;
    border: solid 1px #cbced4;
    border-radius: 20px;
    letter-spacing: .22px;
    line-height: 0%;
}
.bt-lg-next{
    background-color: #003b7c;
    color: white;
    height: 32px;
    padding: 8px 34px;
    font-size: 14px;
    border: none;
    border-radius: 20px;
    letter-spacing: .22px;
    line-height: 0%;
   font-family:'Source Sans Pro', sans-serif !important;
font-weight: 600;
}
.button-boxsize{
    width: 295px;
    height: 300px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid lightgray;   
}
.button-stable:hover{
     border: solid 1px #003b7c !important;
     box-shadow: 10px 5px 15px 0 rgba(0, 59, 124, 0.15);
}
.service.box{
    align-items: center;
}
.accyour{
    font-family:   'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #101a2b;
}
.servicecss{
    font-family:'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color:#101a2b;
}
.bd-highlight{
    padding: 10px;
}
@media (max-width:767px) {
    .mb-5{
        margin-bottom: 6rem !important;
    }
}