<div>
    <app-header-start></app-header-start>
</div>
<div > 
         <div class=" bcolor" >
           <img class="banner img-fluid" alt="banner image" src="assets/banner-volante.png">
           <div class="container p-4 banner-top">
           <h1 class="header-main">Your Trusted Cloud Payments<br> Modernization Partner</h1>
          </div>
            <div class="container p-4 gain-top">
              <p class="service">Gain the Freedom to Evolve Fast.</p>
              <p class="service1">We enable our customers to breeze past the limitations of legacy payments technology, so that they can adapt and innovate faster than the competition.</p>
              <p class="service1">Our secret sauce: cloud-native real-time 24x7 payments solutions built on a proven low-code technology platform delivered as pure SaaS.</p>

            </div>
        </div>
 </div>

