<div class="header">
    <app-ops-header></app-ops-header>
</div>
<div class="p-2 simstarted-background">
    <div class="container-fluid">
<div class="row">
<div class="col-xl-9 col-lg-8 padding">
    <div class="pr-0 pr-lg-4">
<div class="px-md-0">
<div>
<p class="dashboard mt-4">Good Afternoon {{userInfo.firstName}} {{userInfo.lastName}} </p>

<p class="text">Thank you for Select and configure the payment rails that your institution would like
to review and evaluate on the Volante VolPay service.</p>
</div>

<div >
<p class="text mb-2 mt-1 text-weight">Volante Experience</p>

<p class="text" >Volante Experience offers
persona-based Business Intelligence. Click on the tile to know more about the persona.
Your tier allows you to invite two more people from your team. </p>

</div>
</div>
</div>
<div class="pr-0 pr-lg-4">
<div class="border">
<a routerLink="/ftuPostLoginAPI1.0" class="no-decoration"><p class="back-link mt-3 px-3">Go to post login</p></a>
<app-messaging-carousal></app-messaging-carousal>
</div>
</div>
</div>
<div class="col-xl-3 col-lg-4">
    <div class="row">
    <div class="col px-0">
    <div class="row text mt-3">
<div class="col traincss">Account Status</div>
<div class="col wo"><p class="float-end mb-0">WO#1234#</p></div>
</div>
<div class="text border mt-3">
<div class="panel panel-white no-radius py-4 px3">
    <div class="line"></div>
<div class="panel-body">
<ul class="timeline-xs margin-top-20 margin-bottom-20">
<li class="timeline-item success">
<div class="">
    <div class="d-flex column">
        <div class="requestfont ms-4 pb-4 content">Request Received :</div> 
        <div id="date" class="ms-1"></div>
    </div>
</div>
</li>
<li class="timeline-item timeline-item-startcolor">
<div class="">
<p class="requestfont pb-4 ms-4"> Setup In-Progress  </p>
</div>
</li>
<li class="timeline-item timeline-item-endcolor danger">
<div class="">
<p class="requestfont ms-4"> Configured, ready to <a routerLink="" class="get-started">get started</a>  </p>
</div>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="row">
    <div class="col px-0">
    <div class="row mt-4">
<div class="col">
<p class="traincss"> Training</p>
</div>
<div class="col">
<p class="float-end link-text"><a href="#">View All Webinars</a></p>
</div>
</div>
<div class="text border mt-1" >
<div id="content-webinar1" class="row">
<div class="col">
<div class="px-3 webinar-border">
<div class="webminar-title mt-3">Webinar: Why it's Time for a New Approach to Wire Processing</div>
<div class="desc-text mt-3">This executive briefing is includes a view of he latest trends around wire processing for banks and how financial institutions should respond, the challenges with current processing options, and the benefits of payments as a service.
Learn how active-active-active wire payment processing in the cloud can deliver outstanding resilience at low cost</div>
<div class="link-text mt-3 mb-3"><a href="#">Click here to learn more about this webinar</a></div>
</div>
</div>
</div>
<div id="content-webinar2" class="row">
<div class="col">
<div class=" px-3 webinar-border">
<div class="webminar-title mt-3">Webinar: The Race to Real-Time</div>
<div class="desc-text mt-3">In this webinar experts from Confluent and Volante explore the common challenges for banks looking to modernize their legacy systems to handle real-time payments.</div>
<p class="link-text mt-3 mb-3"><a href="#">Stream Now</a></p>
</div>
</div>
</div>
<div id="content-webinar3" class="row">
<div class="col">
<div class=" px-3 webinar-border">
<div class="webminar-title mt-3">Webinar: Has the Has the ‘instant’ been taken out of instant payments adoption for corporate banks?</div>
<div class="desc-text my-3">Join Saxo Bank and Volante in the discussion on how instant payment schemes progressing worldwide, and the how Covid-19 impacted the uptake of SEPA instant?</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

