<nav class="navbar navbar-expand-lg navbar-light bg-volante">
  <div class="container">
    <a class="navbar-brand mt-4" routerLink="">
      <img src="assets/volante-logo.png" class="img-fluid volLogo" alt="volante logo" >
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav menu-top-border me-auto mb-lg-0">
        <li class="nav-item">
          <a class="nav-link submenu-name" aria-current="page">Payment as a Service</a>
        </li>
        <li class="nav-item">
          <a class="submenu-name nav-link">Solutions</a>
        </li>
        <li class="nav-item">
          <a class="submenu-name nav-link">Products</a>
        </li>
      </ul>
      <form class="d-flex">
        <div class="row">
          <div class="col">
            <div class="row">
              <ul class="navbar-nav me-auto mb-lg-0">
                <li class="nav-item ms-2">
                  <div class="search-form">
                    <form class="example" >
                      <input type="text" placeholder="Search" name="search">
                      <button type="submit"><em class="fa fa-search"></em></button>
                    </form>
                  </div>                
                </li>
                <li class="nav-item mt-2 ms-2">
                  <a class="submenu-name-contact">Contact</a>
                </li>
              </ul>
            </div>
            <div class="row">
              <ul class="navbar-nav me-auto mb-lg-0 submenu-height">
                <li id="main-submenu4" class="nav-item bd-highlight ms-2">
                  <a class="nav-link submenu-name1">About</a>
                </li>
                <li id="main-submenu5" class="nav-item bd-highlight ms-2">
                  <a class="nav-link submenu-name1">Customers</a>
                </li>
                <li id="main-submenu6" class="nav-item dropdown ms-2">
                  <a class="nav-link submenu-name1 text-decoration-none text-dark fw-bold lab access-button" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
                    Access Service
                  </a>
                  <div class="dropdown-content">
                  <li class="dropdown-style"><a  routerLink="/login0.1">Sign In</a></li>  
                   <li class="dropdown-style"> <a  routerLink="/selectService0.1">Sign Up</a></li>
                  </div>
                </li> 
                <li id="main-submenu7" class="nav-item bd-highlight ms-2">
                  <a class="nav-link submenu-name1">Resources</a>
                </li>  
              </ul>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</nav>
