.bg-volante{
   background-color: #18243e;

}
.bt-lg{
    height: 40px;
    padding: 8px 16px;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    background-color: white;
    color: #fff;
    border: none;
    border-radius: 20px;
    letter-spacing: .22px;
    line-height: 0%;
}
.bt-lg-login{
    height: 32px;
    padding: 8px 24px;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    background-color: white;
    color: #18243e;
    border: none;
    border-radius: 20px;
    letter-spacing: .22px;
    line-height: 0%;
}
.img-size{
    height: 50px;
}
.btn-acc{
 
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    background-color: #003b7c;
    color: #fff;
    border: none;
    border-radius: 20px;
    letter-spacing: .22px;
    line-height: 0%;
  }
  
  .btn {
    width: 146px;
    height: 38px;
    margin: 3px 41px 1px 3px;
    padding: 7px 14px;
    border-radius: 20px;
   
}
.Select {
    margin:8px 23px 13px;
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.2px;
    color: #fff;
  }