.dashboard{
  font-family: 'Source Sans Pro', sans-serif;
      font-size: 32px;
      font-weight: bold;
      color: #101a2b;
  }
.simstarted-background{
  background: #ffffff;
}
.no-decoration{
  text-decoration: none;
}
.webinar-border{
  border: 1px solid lightgray;
}
.text-weight{
  font-weight: bold;
}
  .traincss{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #101a2b;
  }
  .wo{
  
  font-family: 'Source Sans Pro', sans-serif;
      font-size: 20px;
      font-weight: bold;
      color: #003b7c;
  }
  .Select{
  
  font-family: 'Source Sans Pro', sans-serif;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      
      letter-spacing: 0.2px;
      color: #101a2b;
  
      
  }
  a
  {
    cursor: pointer;
    color: #003b7c;
  }
  .text{
  
  font-family: 'Source Sans Pro', sans-serif;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.25;
      letter-spacing: 0.2px;
      color: #101a2b;
  }
  
  .back-link{
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: 16px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.2px;
    color: #003b7c;  
    vertical-align: center;
}

  .get-started{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #18243e;
    text-decoration: underline;
  }
    .link-text{
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 16px;
      font-weight: bold;
      color: #003b7c;
      text-decoration: underline;
    }
    .desc-text{
  
  
  font-family: 'Source Sans Pro', sans-serif;
      line-height: 1.25;
      letter-spacing: 0.2px;
      color: #101a2b;
      font-size: 16px;
      }
      .webminar-title{
        font-family: 'Source Sans Pro', sans-serif !important;
        line-height: 1.25;
        letter-spacing: 0.2px;
        color: #101a2b;
        font-size: 16px;
        font-weight: bold;
      }
   
    
    .timeline-xs {
    margin: 0;
    padding: 0;
    list-style: none
  }
  
  .timeline-xs .timeline-item {
    position: relative;
  }
  
  .timeline-xs .timeline-item:after {
    border-radius: 10px;
    border-style: solid;
    border-width: 0px;
    height: 12px;
    left: -1px;
    margin-left: -5px;
    position: absolute;
    width: 12px;
    clear: both;
    bottom: auto;
    top: 4px
  }
  .timeline-xs .timeline-item-startcolor:after {
    background-color: #003b7c;
    border-color: #003b7c;
  }
  .timeline-xs .timeline-item-endcolor:after {
    background-color: #b3c4d8;
    border-color: #b3c4d8;
  }
  .timeline-xs .timeline-item p {
    margin: 0;
    padding-bottom: 10px
  }


  .timeline-xs .timeline-item.success {
    border-left-color: #cbced4;
  
  }
  
  .timeline-xs .timeline-item.success:after {
    border-color: #5cb85c;
    background-color: #44ab1a;
  }
  
  .timeline-xs .timeline-item.danger {
    border-left-color: #cbced4
  }
  
  .timeline-xs .timeline-item.danger:after {
    border-color: #003b7c;
  }
  
  .timeline-xs .timeline-item.info {
    border-left-color: #cbced4
  }
  
  .timeline-xs .timeline-item.info:after {
    border-color: #cbced4
  }
  
  .timeline-xs .timeline-item.warning {
    border-left-color: #cbced4
  }
  
  .timeline-xs .timeline-item.warning:after {
    border-color: #cbced4
  }
  
  .timeline-xs .timeline-item:after, .timeline-xs .timeline-item:before {
    content: " ";
    display: table
  }
  
  
  .requestfont{
    
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #18243e;
  }
  
  .margin-left-15 {
    margin-left: 15px !important
  }
  .content{
      font-family: 'Source Sans Pro', sans-serif !important;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #101a2b ;
        
  }
  .line{
    content: '';
    position: absolute;
    width: 2px;
    height:92px;
    margin-left: -1px;
    top: 90px;
    background-color: #cbced4;
    z-index: 0 !important;
  }
  .px3{
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }
  @media (max-width: 1023px){
    .padding{
        padding: 0px;
   }
}
@media screen and (max-width:370px) {
  .ms-4{
    margin-left: 0.5rem !important;
  }
  .px3{
    padding-right: 0rem !important;
    padding-left: 0.5rem !important;
  }
}
@media (max-width:374px){
  .dashboard{
        font-size: 28px;
    }
}