    
  .mart{
    margin-top: 6em;
  }
.homelink-width{
  width: 30px;
}
.no-decoration{
  text-decoration: none;
}
.Rectangle {
    padding: 16px 0px 0px 5px;
    background-color: #fff;
  }
  .back-link{
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: 16px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.2px;
    color: #003b7c;  
    vertical-align: center;
}

.last{
  width: 178px;
  height: 25px;
  margin: 0 16px 16px 0;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 20px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-left:1.7em;
  color: var(--dark-blue-grey);
  margin-top: 1.5em;
}
.View-All{
 
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 14px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: 0.18px;
  color: #003b7c;
  margin-top: 2.5em;

}
.pymt-rail{

  margin: 10px 24px 8px 0;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 32px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #101a2b;
}
.acc{
  margin: 8px 0 0;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0.2px;
  color: #101a2b;
}
.switch-size{
  border-radius: 14px;
  border: solid 1px var(--silver);
  background-color: #fff;
}
.with-overflow{
    width: 100%;
    overflow: auto;
  }
  .table th {
    font-family:'Source Sans Pro', sans-serif; 
    font-weight:600;
    font-size:14px;
    padding: 10px;
    color: #18243e;
  }
  
  .table td {
    padding: 8px;
    font-size:16px !important;
    font-weight: 700;
  }
  .normal-text{
    color: #18243E;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;    
}

.bt-lg-cancel{
  height: 32px;
  padding: 8px 34px;
  font-size: 14px;
 font-family:'Source Sans Pro', sans-serif !important;
font-weight: 600;
  background-color: white;
  color: #18243e;
  border: solid 1px #cbced4;
  border-radius: 20px;
  letter-spacing: .22px;
  line-height: 0%;
}
.bt-lg-next{
  background-color: #003b7c;
  color: white;
  height: 32px;
  padding: 8px 34px;
  font-size: 14px;
  border: none;
  border-radius: 20px;
  letter-spacing: .22px;
  line-height: 0%;
  font-family: 'Source Sans Pro', sans-serif !important;
}
.switch-margin{
  margin-top: .5rem;
  font-size: 1.8rem;
}
.mb{
margin-bottom: -3em;

}
.footer-buttons{
  background-color:#e6ebf2;
  border-top: 1px solid #cbced4;
}
.backspace-color{
  color: #003b7c;
}
.floatend{
  float: right;
}
@media  (max-width:767px) {
  .floatend{
    float: unset;
    text-align: center;
  }
}