.ftudashborder{
  border: 1px solid #d7d9de;
}
.Request-response{
  overflow-x: auto;
}
.dashtxt{
    font-family:'Source Sans Pro', sans-serif !important;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #101a2b;
}
.add-button{
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif !important;
    font-weight: bold;
    background-color: #003b7c;
    color: #ffffff;
    border-radius: 20px;
    border: 1px solid #003b7c;
    white-space: nowrap; 
    width: 100px;
  height: 32px;
}
.railText{
  font-family:'Source Sans Pro', sans-serif !important;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #101a2b;
}
.value2{
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 40px;
  font-weight: bold;
  color: #101a2b;
  }
  .table th {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size:14px;
    font-weight: normal;
    color: #18243e;
    }
    
    .table td {
    font-size:16px !important;
    }
    .fa{
    color: #7c7c7c;
    width: 16px;
    height: 16px;
    }
    .badge{
    width: 29px;
    height: 17px;
    
    }
.Insight-style{
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 16px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #003b7c;
  cursor: pointer;
}
      .vlink-text{
        font-family: 'Source Sans Pro', sans-serif !important;
        font-size: 16px;
        font-weight: bold;
        color: #003b7c !important;
        text-decoration: underline;
      }     
.ftu-btnclr{
  border-radius: 5px;
  text-align: left;
  background-color: #e6ebf2;
  border: solid 1px #d7d9de;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 16px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #000;
}
.time{
  font-size: 14px;
  font-weight: normal;
}
.ftu-btnclr1{
  border-radius: 5px;
  text-align: left;
  height: 44px;
  background-color: #e6ebf2;
  border: solid 1px #d7d9de;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 16px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #000;
}
.ftu-btnclrwhite{
  border-radius: 5px;
  text-align: left;
  height: 44px;
  background-color: #fff;
  border: solid 1px #d7d9de;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 14px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #000;
}
.introjs-button {

  padding: 7px 16px !important;
  border-radius: 25px !important;
  background-color: #003b7c !important;
  color:#ffffff !important ;
  box-shadow: none !important;
  border: 1px solid #003b7c !important;
  text-shadow: none !important;
  font-weight: bold !important;
}
.introjs-tooltiptext{
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 16px !important;
  font-weight: normal !important;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000 !important;
}

.introjs-skipbutton {

  font-size: 20px;
  font-weight: normal; 
  line-height: 1;
  text-align: center;
   padding: 0px; 
   color: #747c8b;
}
.introjs-fixParent {
  position: absolute;
}
.introjs-bullets {
display: none;
}
.introjs-tooltipbuttons {
  border-top: none; 
  padding-top: 0px;
  
}
.introjs-helperLayer{
  border-radius: 0px;
}
.margin{
  margin-right: 1rem;
}
.alert{
  margin-bottom: 0.8rem !important;
}
.viewAll{
  float: right;
}
@media (max-width:767px) {
  .viewAll{
    float: left;
  }
}