
  <div class="p-0">
    <div class="modal fade" id="admininviteModal" tabindex="-1" role="dialog" aria-labelledby="admininviteModalLabel" aria-hidden="true">
      <div id="dialog-inviteuser" class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content backg-color1" >
          <div id="head-invite" class="modal-header">
            <h4 class="modal-title admintitle p-0 ms-3" id="admininviteModalLabel">Invite User</h4>
            <br /> 
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div id="body-invite" class="modal-body p-2 backg-color" >
            <div  class="ml-4 mr-4  m-body">
              <div class="row m-0">
                <div class="col-md-12 layout-margin p-3" >
                  <label for="exampleInputEmail1" class="form-label admintitle">Email Address</label>
                  <input  type="email" multiple placeholder="Enter Email Address"  id="exampleInputEmail1" class="form-control" aria-describedby="emailHelp"  name="email">
                  
                  <p class="multiple-mail p-0 mt-2">Add one or more email address separated by commas.</p>
                  </div>
            </div>
            
          </div>
          <div class="modal-footer">
            <button id="cancel" type="button" class="bt-lg-can"  data-bs-dismiss="modal"  #closeAddExpenseModal>CANCEL</button>
            <button id="save" type="button" class="bt-lg"  data-bs-dismiss="modal"  #closeAddExpenseModal>SAVE</button>
          </div>
        </div>
      </div>
    </div>
  </div>
