<div>
  <div class="row bg-core m-0 head-section" >
      <div class="col-md-6 desc" >
          <img src="assets/vol-login-new-logo2.png" class="img-fluid" alt="">
          
          <p class="text-style mt-5">We are a global financial technology company, with two decades of experience serving as trusted strategic partners for financial institutions of all sizes.</p>
          <div class="row mt-5">
              <div class="col-lg-5 pl-1">
                  <button class="bt-lg" routerLink="/login0.1">Log out</button>
              </div>
          </div>
      </div>
      <div class="col-md-6 box">
          <img src="assets/32.png" class="img-fluid pt-5" alt="">
          <p class="bold login txt">Payment Sandbox Setup</p>
         
        <div class="row col-xl-10 col-lg-10 col-md-10 pr-0 pl-0 m-0s vertical" >
          <app-timeline-tab [data]="timeLineData" [active]="active"></app-timeline-tab>
        </div>
        <div class="fixed-bottom pt-2 pb-2 button-style-next"><a routerLink="/SIMsetup-1" ><button class="bt-lg-login float-end">Next</button></a> <button class="bt-lg-next float-end">Exit</button></div>
      </div>

          
          
          
          
          
          
          
          
          
          