<app-header></app-header>
<div class="row Rectangle m-0">
    <div class="col-md-6 row">
      <div class="col-md-1 backlink-width pr-0" >
        <a routerLink="/ftuInitPayments13.1" class="no-decoration"> <span class="material-icons-outlined backspace-color">
          keyboard_backspace
        </span> </a>
      </div>
      <div class="col-md-5 ms-3 pl-0">
        <a routerLink="/ftuInitPayments13.1" class="no-decoration"><p class="back-link">Back to all rails </p></a>
      </div>
      <div class="d-flex flex-row "> 
        <p class="pymt-rail" >      {{selected.title}}     </p>  
        <span class="mt-1 ms-2 switch-size"><app-switch-button  ></app-switch-button></span>
      </div>
      <p class="acc mt-0">Accounts using this payment rail (3 of 6)</p>
    </div>
  </div>
  <div class="row m-0 ">
    <div class="col-md-4" *ngFor="let data of accordianData"  >
        <app-payment-rails  [data]="data"  > </app-payment-rails>
      </div>
  </div>
  <div class="mb-2">
    <div >
    <span class="last"> Last 10 transactions</span>
    <span class="View-All col-md-2 mt-1">
      View All
    </span>
  </div>
  <div class="p-2">
  <app-table [tableHead]="tableHead2" [tableValues]="tableValues2" ></app-table> 
  </div>
 
</div>

  <div class="fixed-bottom row m-0 p-0  justify-content-end footer-button">
    <div class="col-md-9 pt-3 pb-3 ">
    <div class="float-end ">
    <button class="bt-lg-cancel">Cancel</button> 
    <button class="ml-4 bt-lg-next" routerLink="/Dashboard1">Save Changes</button>
  </div>
</div>
</div>
  