<div class="p-0 ">
    <div class="modal fade "   id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content backg-color1" >
          <div class="modal-header mlr-8 ">
            <h4 class="modal-title p-0" id="exampleModalLabel">Sizing Info BAHTNET</h4>
            <br /> 
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div> <h2 class="Upload-Sample-Transa">Instructions on how to configure the volume for the selected payment rail Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum.    </h2></div> 
  
          <div class="modal-body p-3 backg-color" >
            <div  class="ml-4 mr-4 pad m-body">
              <div class=" m-0">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <app-messagesetup-sidebar *ngFor="let data of accordianData" [data]="data" class="accordion accordion-default"></app-messagesetup-sidebar>
                
              </div>
              </div>
            </div>
            
          </div>
          <div class="modal-footer  mlr-8">
            <button type="button" class="but-lg-can ml-0 "  data-bs-dismiss="modal"  #closeAddExpenseModal>CLOSE</button>
            <button type="button" class="but-lg mt-1 mr-0 ml-0" data-bs-dismiss="modal"  #closeAddExpenseModal >SAVE</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  