.instructionsub-heading{
  letter-spacing: 0.37px;
  color: #747c8b;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
}
.emailsub-heading{
letter-spacing: 0.37px;
color: #18243e;
font-size: 16px;
font-family: 'Source Sans Pro', sans-serif;
font-weight: 700;
}
.multiple-mail{
letter-spacing: 0.37px;
color: #747c8b;
font-size: 16px;
font-family: 'Source Sans Pro', sans-serif;
}
.modal-lg, .modal-xl {
max-width: 600px;
}
.material-icons-outlined{
  color: #747C8B !important;
}
.icon-download{
  color: #003B7C;
}
.icon_sty{
  font-size: 100px;
  color:#003B7C;
}
.save-bt{
  background: #003B7C 0% 0% no-repeat padding-box;
  border: 1px solid #003B7C;
  border-radius: 20px;
  opacity: 1;
  color: white !important;
}
.heading-text-regular{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: #18243E;
}
.pad{
  padding: 1rem!important;
}
.text-style{
  color: #18243E;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 1
}
.hei-bg{
  height:5px;    
}
.bt-lg-can{
  height: 40px;
  width:100px;
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  background-color:white;
  color:  #18243E;
  border-radius: 20px;
  border: 1px solid #CBCED4;
  letter-spacing: 0.22px;
}
.bt-lg{
  height: 40px;
  width: 100px;
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  background-color: #003B7C;
  color: white;
  border: none;
  border-radius: 20px;
  letter-spacing: 0.22px;
}
.modal-footer>* {
  margin-right: 8px;
 }

.admintitle {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #18243e;
}
.modal-header{
  border-bottom: 0px solid;
}
.pad-border{
  border-block: 1px solid;
}
.backg-color1{
  background-color: #d7e0e5;
}

.layout-margin{
  background-color: #ffffff;
  border-radius: 4px;
}
.align{
margin-left:23em;  }
.force-to-the-bottom {
margin-top: 90vh;
}
