<div class="header">
    <app-header-start></app-header-start>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-11 mx-auto">
            <div class="row">
                <div class="col">
                       <div class="py-5">
                <div class="get">Get started with the worlds most advanced </div>
                <div class="get"> payments cloud and messaging services</div>
     
                <div class="pad-content "> 
                    <a href="http://139.162.46.142/PaaS/demo/selectService0.1#select-service"><button class="bt-lg-login"  >GET STARTED</button></a>
                 </div>
     
             </div>
                </div>
            </div>
            <div class="row">
                    <div class="col">
                        <div class="pad1 cardcolor mb-4">
<div class="pad p-4">
<div class="row">
<div class="col-lg-10">
<p class="inc">Included:</p>
<p class="PaaS-Sandbox">VolPay Experience Sandbox</p>
<p class="Cloud-native-payment mt-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
</div>
<div class="col-lg-2 my-auto">
<img src="assets/main.png" alt="asset" class="img-fluid" id="select-service">
</div>
</div>
</div>
</div>
 </div>
            </div>
                 <div id="select-service">
             <app-select-service-component></app-select-service-component>
         </div>
                <div class="row mt-4 mb-3">
             <div class="col">
                <div class="text-center"> 
             <button class="bt-lg-login login-pos mb-2"  routerLink="/signUp2.0" >SIGN UP</button>
          </div>
             </div>
         </div>
        </div>
    </div>
</div>