<div class="">
    <div class="col">
        <div class="row-md-3 letsback p-4">
            <p class="lets">Welcome John, Let’s setup your Volante Experience </p>
        </div>
        <div class="row-md-9">
            <div class="card p-5 ">
                <div class="card-body lback border p-5">
                    <div class="d-flex flex-row ">
                       <div class=" col-md-4"> 
                           <div class="row-md-12">
                               <p class="over1">Overview</p>
                           </div>
                           <div class="row-md-12 border d-flex justify-content-center rad">
                          <div>  <img src="assets/05-copy.png" alt="05-copy">
                            <p class="over">Dashboard</p></div>
                        </div> 
                        <div class="row-md-12 border d-flex justify-content-center rad">
                            <div>  <img src="assets/05-copy.png" alt="05-copy">
                                <p class="over">Reports</p></div>
                            </div> 
                           
                        <div class="row-md-12 border d-flex justify-content-center rad">
                            <div>  <img src="assets/05-copy.png" alt="05-copy">
                                <p class="over">Rails</p></div>
                        </div>

                       </div> 
                       <div class=" col-md-4"> 
                        <div class="row-md-12">
                            <p class="over1">Your Services</p>
                        </div>
                        <div class="row-md-12 border d-flex justify-content-center rad">
                       <div>  <img src="assets/05-copy.png" alt="05-copy" >
                         <p class="over">SWIFT</p></div>
                     </div> 
                     <div class="row-md-12 border d-flex justify-content-center rad">
                         <div>  <img src="assets/05-copy.png" alt="05-copy">
                             <p class="over">TCH-RTP</p></div>
                         </div> 
                        
                     <div class="row-md-12 border d-flex justify-content-center rad">
                         <div>  <img src="assets/05-copy.png" alt="05-copy">
                             <p class="over">Fraud</p></div>
                     </div>
                     <div class="row-md-12 border d-flex justify-content-center rad">
                        <div>  <img src="assets/05-copy.png" alt="05-copy">
                            <p class="over">Sanctions</p></div>
                    </div>

                    </div>
                       <div class=" col-md-4">  
                           <div>
                            <p class="over1">Your Dashboard</p>
                           </div>
                           <div class="row-md-12 border d-flex justify-content-center rad">
                            <div>  <img src="assets/05-copy.png" alt="05-copy">
                                <p class="over">Your Dashboard</p>
                                <p class="over">Get an up-to-date summary of your transactions, services & payment ops.</p>
                                <p class="bold mt-1 " >     <button class="bt-lg-login ">Setup</button></p>
                            </div>
                            </div>
                        </div>
                       </div>

                    </div>
                </div>
              </div>
        </div>
</div>