.backforsidebar{
    box-shadow: 1px 0 0 0 #cbced4;
        background-color: #e6ebf2;
    }

    @media (min-width: 1900px) and (max-width: 2560px) {    
        .topres{
          margin-top: -2em;
        }
      }