
  

<div class="p-0">
    <div class="modal fade" id="Modalservicehome" tabindex="-1" role="dialog" aria-labelledby="ModalservicehomeLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content backg-color1" >
          <div class="modal-header  ">
            <h4 class="modal-title ms-2" id="ModalservicehomeLabel">Setup your Volante Experience </h4>
            <br /> 
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div> <h2 class="Upload-Sample-Transa ms-4"> Services Home   </h2></div> 
  
          <div class="modal-body p-3 backg-color" >
            <div  class="p-1  m-body">
              <div class="row m-0">
                <div class="col-md-12 layout-margin p-4" >
                    <div> <h2 class="your-ser">Services Home </h2></div> 
                    <div class="row">
                        <div class="col-md-9">
                            <h4 class="sub-heading pb-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type </h4>
                            <h4 class="sub-heading pb-3 mt-2"> Take a moment to review your services and confirm your role below:</h4>
                        </div>
                        <div class="col-md-3">
                            <img src="assets/05-copy@2x.png" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div>
                        <img src="assets/dashboardimage.png" class="img-fluid Image-size" alt="">

                    </div>
               </div>
            </div>
         </div>
          <div class="modal-footer mlr-8">
            <button type="button" class="but-lg-can ml-0"  data-bs-dismiss="modal"  #closeAddExpenseModal>CANCEL</button>
            <button type="button" class="but-lg ms-2"  (click)="clicknext()" data-bs-dismiss="modal" #closeAddExpenseModal>NEXT</button>
          </div>
        </div>
      </div>
    </div>
  </div>