.img-fluid{
    width: 249px;
    height: 222px;
    margin: 345px 451px -25px 470px;
    padding: 17px 4px 10px 3px;
    object-fit: contain;
}
.no-decoration{
  text-decoration: none;
}
.padding{
  padding: 3px 24px 24px 24px;
}
.border{
  border-radius: 5px;
}
.schedule{
  margin-right: 13px;
}
.manual{
  margin-left: 13px;
}
.mt-5{
  display: flex;
  flex-direction: row;
}
.San {
    width: 302px;
    height: 56px;
    margin: 24px 434.5px 323px 433.5px;
    object-fit: contain;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 19px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #101a2b;
  }
.sandbox{
    margin: 0px;
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: 32px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #101a2b;

  }
  .btn-acc{
 
    font-size: 15px;
   font-family:'Source Sans Pro', sans-serif !important;
font-weight: 600;
    background-color: #003b7c;
    color: #fff;
    border: none;
    border-radius: 20px;
    letter-spacing: .22px;
    line-height: 0%;
  }
  
  .btn{
      
    width: 251px;
    height: 38px;
    padding:  7px 14px;
    border-radius: 20px;
    border: solid 1px #cbced4;
   
  
  }
  .table th {
    font-family:'Source Sans Pro', sans-serif;
     font-weight:600;
    font-size:14px;
    padding: 10px;
    color: #18243e;
  }
  
  .table td {
    padding: 8px;
    font-size:16px !important;
    font-weight: 700;
  }
  .bt-lg-cancel{
    height: 32px;
    padding: 8px 34px;
    font-size: 14px;
   font-family:'Source Sans Pro', sans-serif !important;
font-weight: 600;
    background-color: white;
    color: #18243e;
    border: solid 1px #cbced4;
    border-radius: 20px;
    letter-spacing: .22px;
    line-height: 0%;
  }

  .config-text{
    
    margin-top: 1em;
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.2px;
    color:#101a2b;
  }

  .new1{
    font-family:'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    margin-left: 15em;
    letter-spacing: normal;
    color: #fff;
  }
  .status{
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: 16px;
    color: #101a2b;
    font-weight: 700;
      
  }
  
  .count{
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: 40px;
    color: #101a2b;
    font-weight: 700;
      
  }
  .bt-lg-login{
    height: 32px;
    padding: 8px 24px;
    font-size: 14px;
   font-family:'Source Sans Pro', sans-serif !important;
font-weight: 600;
    background-color: #003b7c;
    color: #fff;
    border: none;
    border-radius: 20px;
    letter-spacing: 0.22px;
    line-height: 0%;
  }
  .Transactions {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: 20px;
    color: #101a2b;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    
  }
 
  @media (min-width: 1925px) and (max-width: 2560px) {    
    .report-top{
      margin-top:-2em;
    }
  }
  @media (min-width: 768px) and (max-width: 1440px) {    
    .report-top{
      margin-top: 4em;
    }
  }
  .report-dummy{
    font-family:'Source Sans Pro', sans-serif !important;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #747c8b;
  }
  .value5{
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: 54px;
    font-weight: 900;
    color: #00875a;
    }
  .circle-border{
    border-radius: 5px;
  }
  .viewsample-link{
    font-family:'Source Sans Pro', sans-serif !important;
  font-size: 16px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #003b7c;
  }
.addnew-button{
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    background-color: #003b7c;
    color: #ffffff;
    border-radius: 20px;
    border: 1px solid #003b7c;
    white-space: nowrap; 
    width: 120px;
    height: 32px;
}
.schedule-border{
  border-bottom: 1px solid #d7d9de;
}
@media (max-width:1023px){
  .mt-5{
    display: flex;
    flex-direction: column !important;
  }
  .manual{
    margin-left: 0px;
  }
}
@media (max-width:767px){
  .reportPadding{
    padding: 0px;
  }
}