
   
    <button id="closemodal" class="button button-stable button-clear d-none cursorstyle" data-bs-toggle="modal" data-bs-target="#ModalMessagingApi">
    </button>
  

<div class="p-0">
    <div class="modal fade" id="ModalMessagingApi" tabindex="-1" role="dialog" aria-labelledby="ModalMessagingApiLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content backg-color1" >
          <div class="modal-header  ">
            <h4 class="modal-title ms-2" id="ModalMessagingLabel">Setup your Volante API Catalog</h4>
            <br /> 
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div> <h2 class="Upload-Sample-Transa  ms-4"> Your Messaging APIs   </h2></div> 
  
          <div class="modal-body p-3 backg-color" >
            <div  class="p-1  m-body">
              <div class="row m-0">
                <div class="col-md-12 layout-margin p-4" >
                    <div> <h2 class="your-ser"> Your Services</h2></div> 
                    <div class="row">
                        <div class="col-md-9">
                            <h4 class="sub-heading pb-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining unchanged</h4>
                          </div>
                        <div class="col-md-3">
                            <img src="assets/05-copy@2x.png" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div>
                      <app-carousel-smallcard1 [data]="carouselcardData"  ></app-carousel-smallcard1>

      <!-- {{carouselcardData| json}} -->

                    </div>
               </div> 
            </div>
         </div>
          <div class="modal-footer mlr-8">
            <button type="button" class="bt-lg-can ml-0"  data-bs-dismiss="modal"  >CANCEL</button>
            <button type="button" class="bt-lg ms-2" (click)="modalEmit()"  >NEXT</button>
          </div>
        </div>
      </div>
    </div>
  </div></div>