::ng-deep{
    .ngx-pagination .current {
      background-color : #003b7c !important;
    }}
    .pagination{
    justify-content: center;}
    .th-text{
      font-family: 'Source Sans Pro', sans-serif;
      font-size:16px;
    }
    .col-font{
    font-weight: bold;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #cbced4;
    }
    .csv-style{
      margin-right: 20%;
    }
    .mode-edit{
      visibility: visible !important;
    }
    .tvStyle{
      width: 70%;
      border: 1px solid #cbced4;
      border-radius: 5px;
    }
    .table th {
      font-family: 'Source Sans Pro', sans-serif;
      font-size:16px;
      font-weight: bold;
      color: #18243e;
    }
    .material-icons{
      
    color: #607d8b;
    }
    .table td {
      color: #003b7c;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 16px;
      font-weight: bold;
    }
    tr > td > span.material-icons {
      visibility: hidden;
    }
    .fs-16{  
      font-size: 16px;
      vertical-align: middle;
    }
    tr:hover > td > span.material-icons {
    visibility: visible;
    }
    .table thead th {
      vertical-align: bottom;
      border-bottom: 1px solid #dee2e6;
      font-weight: bold;
    }
    .table-primary-clr{
      color: #003b7c !important;
      font-family:'Source Sans Pro', sans-serif !important;
       font-weight:600;


      
    }
    .blue{
      color:#003B7C;
      font-family:'Source Sans Pro', sans-serif !important;
      font-weight:600;
    }
    tr:nth-child(odd) {
      background-color: #f3f3f5;
    }
    tr{
      cursor: pointer;
      background-color: #ffffff;
    }
    tr:hover {background-color:#E6EBF2;box-shadow: 0px 2px 4px #00000029;}
  
    .check-m{
      margin: 0;
    }
    .table-height{
      height:auto;
      overflow-x: auto;
    }
    @media (max-width:320px){
      .table-height{
width: 244px;
      }
    }
    .margin{
      margin-top: 1%;
    }
    .bg-white{
      background-color: white;
    }
    .pl2{
      padding-left: 2%;
    }
    .styled-checkbox {
      position: absolute; // take it out of document flow
      opacity: 0; // hide it
    
      & + label {
        position: relative;
        cursor: pointer;
        padding: 0;
      }
    
      .surface {
        box-sizing: border-box; 
        border: 1px solid rgba(25,25,25,0.32);
        border-radius: 4px;
        background-color: #FFFFFF;
        height: 32px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
        color: #272A30;
      }
      label{
        
        font-family: 'Source Sans Pro', sans-serif !important;
        font-size: 16px;
      }
      .custom-icon-clr{
        font-size: 24px;
        height: 32px;
        vertical-align: middle;
        cursor: pointer;  
        color: #18243E !important;
      }
    
      // Box.
      & + label:before {
        content: '';
        margin-right: 20px;
        display: inline-block;
        vertical-align: text-top;
        width: 17px;
        height: 17px;
        background: white;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.12);
      }
    
      // Box hover
      
      // Box focus
      &:focus + label:before {
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.12);
      }
    
      // Box checked
      &:checked + label:before {
        background-color: #0052cc;
      }
      
      // Disabled state label.
      &:disabled + label {
        opacity: 0.5;
        cursor: auto;
    
      }
    
      // Disabled box.
      &:disabled  {
        box-shadow: none;
        color: #CBCED4;
    
      }
    
      // Checkmark. Could be replaced with an image
      &:checked + label:after {
        content: '';
        position: absolute;
        left: 3px;
        top: 9px;
        background: white;
        width: 2px;
        height: 2px;
        box-shadow: 
          2px 0 0 white,
          4px 0 0 white,
          4px -2px 0 white,
          4px -4px 0 white,
          4px -6px 0 white,
          4px -8px 0 white;
        transform: rotate(45deg);
      }
    }
  
  